<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- Имя и описание приложения -->
    <display-name>WebLab2</display-name>
    <description>Лабораторная работа №2 - Веб-приложение на базе сервлетов и JSP</description>

    <!-- Настройка сервлетов -->
    <!-- ControllerServlet - главный контроллер MVC -->
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>org.denic_t.web.servlet.ControllerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- AreaCheckServlet - сервлет для проверки попадания в область -->
    <servlet>
        <servlet-name>AreaCheckServlet</servlet-name>
        <servlet-class>org.denic_t.web.servlet.AreaCheckServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <!-- Маппинг сервлетов -->
    <!-- Все запросы к приложению идут через ControllerServlet -->
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <!-- AreaCheckServlet доступен только через forward из ControllerServlet -->
    <servlet-mapping>
        <servlet-name>AreaCheckServlet</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>

    <!-- Главная страница - через ControllerServlet -->
    <welcome-file-list>
        <welcome-file>controller</welcome-file>
    </welcome-file-list>

    <!-- Настройка сессий -->
    <session-config>
        <!-- Время жизни сессии в минутах -->
        <session-timeout>30</session-timeout>
        <!-- Настройки cookie для сессий -->
        <cookie-config>
            <http-only>true</http-only>
            <secure>false</secure>
        </cookie-config>
        <!-- Способ отслеживания сессий -->
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <!-- Настройка JSP -->
    <jsp-config>
        <!-- Настройки JSP компилятора -->
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <scripting-invalid>false</scripting-invalid>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
        </jsp-property-group>
    </jsp-config>

    <!-- Настройка обработки ошибок -->
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/error/500.jsp</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error/general.jsp</location>
    </error-page>

    <!-- Настройки безопасности -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/WEB-INF/*</url-pattern>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>

    <!-- MIME типы -->
    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>js</extension>
        <mime-type>application/javascript</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>png</extension>
        <mime-type>image/png</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>jpg</extension>
        <mime-type>image/jpeg</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>gif</extension>
        <mime-type>image/gif</mime-type>
    </mime-mapping>

    <!-- Фильтры -->
    <!-- Фильтр для установки кодировки UTF-8 -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>org.denic_t.web.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Параметры контекста -->
    <context-param>
        <param-name>application-name</param-name>
        <param-value>WebLab2</param-value>
    </context-param>

    <context-param>
        <param-name>developer</param-name>
        <param-value>Ткачев Денис Владимирович</param-value>
    </context-param>

    <context-param>
        <param-name>group</param-name>
        <param-value>P3211</param-value>
    </context-param>

    <context-param>
        <param-name>variant</param-name>
        <param-value>929292</param-value>
    </context-param>

</web-app>